.container {
  display: flex;
}

.details {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
.video iframe {
  width: 100%;
  border-radius: 2rem;
}
.bottom {
  display: flex;
}
.left {
  flex: 3;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.right button {
  all: unset;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  padding: 1.3rem 5rem;
  background: #be123c;
  color: white;
  text-transform: capitalize;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn {
  border: 1px solid #be123c !important;
  background: rgba(190, 18, 60, 0.1) !important;
  color: black !important;
}
.genre {
  color: #b91c1c;
  font-size: 1.5rem !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 1.5rem;
  border: 1px solid #f8e7eb;
  width: 8.4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #404040;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.info h2,
.info span {
  font-size: 2.3rem;
  font-weight: 500;
}
.info p {
  font-weight: 700;
  vertical-align: middle;
}
.desc {
  color: #333;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2rem;
}
@media screen and (max-width: 460px) {
  .container {
    flex-direction: column-reverse;
  }
  .bottom {
    flex-direction: column;
  }
  .desc {
    margin-bottom: 1rem;
  }
  .info {
    flex-wrap: wrap;
  }
}
